
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30" />
    {% load  staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
    <title>Trunk Health Check Up</title>

</head>
<body>
    <div id="header">
        {% if patterns %}
            <h3>Details of Trunk</h3>
        {% endif %}
        {% if route_pattern_status %}
            <h3>Details of Route Pattern</h3>
        {% endif %}
        </div>

<div id="nav2" >

        <div id="sea_trunk_health" style="display:block">
            <table style="width:100%" border="3">

             <tr>
                 <th> Cluster</th>
                    <th>Trunk Name </th>
                    <th>Status </th>
                    <th>SIP Profile</th>
                    <th>Security Profile</th>
                    <th>Trusted Relay Point</th>
                    <th>Device Pool</th>
                 <th>Route Pattern</th>
                </tr>
                {% if route_pattern_status %}
                {% for patterns in route_pattern_status %}
                {% for pattern in patterns %}
                    <tr >
                        <td><b  style="display:block;font-weight:bold" ><font color="blue">{{ pattern.trunk.cluster}}</font></td>
                        <td><b  style="display:block;font-weight:bold" ><font color="blue">{{ pattern.trunk.name }}</font></td>
                        <td><b style="display:block;font-weight:bold"><font color="blue"> {{ pattern.trunk.status }}</font> </td>
                        <td><b style="display:block;font-weight:bold"><font color="blue">{{ pattern.trunk.sip_profile }}</font></td>
                        <td><b style="display:block;font-weight:bold"><font color="blue">{{ pattern.trunk.security_profile }}</font></td>
                        <td><b style="display:block;font-weight:bold"><font color="blue">{{ pattern.trunk.trp }}</font></td>
                        <td><b style="display:block;font-weight:bold"><font color="blue">{{ pattern.trunk.device_pool }}</font></td>
                        <td><b style="display:block;font-weight:bold"><font color="blue"> {{ pattern.pattern }}</font></td>
                    </tr>
                {% endfor %}
                {% endfor %}
                {% endif %}
                </tr>
                {% if patterns %}
                {% for pattern in patterns %}
                    <tr >
                        <td><b  style="display:block;font-weight:bold" ><font color="blue">{{ pattern.trunk.cluster}}</font></td>
                        <td><b  style="display:block;font-weight:bold" ><font color="blue">{{ pattern.trunk.name }}</font></td>
                        <td><b style="display:block;font-weight:bold"><font color="blue"> {{ pattern.trunk.status }}</font> </td>
                        <td><b style="display:block;font-weight:bold"><font color="blue">{{ pattern.trunk.sip_profile }}</font></td>
                        <td><b style="display:block;font-weight:bold"><font color="blue">{{ pattern.trunk.security_profile }}</font></td>
                        <td><b style="display:block;font-weight:bold"><font color="blue">{{ pattern.trunk.trp }}</font></td>
                        <td><b style="display:block;font-weight:bold"><font color="blue">{{ pattern.trunk.device_pool }}</font></td>
                        <td><b style="display:block;font-weight:bold"><font color="blue"> {{ pattern.pattern }}</font></td>
                    </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>

    </div>
    <div id="footer">
            <strong>DEMO: CUCM TRUNK HEALTH CHECK-UP</strong>
        </div>

</body>
</html>